<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eiga.an">

    <uses-permission android:name="android.permission.INTERNET" /> <!--网络权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--打开相册-->
    <uses-permission android:name="android.permission.CAMERA" /><!--打开相机-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:name=".base.MyApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--百度地图定位相关服务-->
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="bgeG2aRay77oVY5l6wH7WsvoZT0Y94e2" />


        <activity android:name=".ui.activity.user.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.user.UserLoginActivity"
            android:launchMode="singleTask">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".base.BaseActivity"/>
        <!--<activity android:name=".ui.activity.user.MainActivity"/>-->
        <activity android:name=".ui.activity.user.InfoCollectionActivity"/>
        <activity android:name=".ui.activity.user.CarQuotaActivity"/>
        <activity android:name=".ui.activity.user.IdCardVerifyActivity"/>
        <activity android:name=".ui.activity.user.BankVerifyActivity"/>
        <activity android:name=".ui.activity.user.PhoneVerifyActivity"/>
        <activity android:name=".ui.activity.user.SettingActivity"/>
        <activity android:name=".ui.activity.user.AboutActivity"/>
        <activity android:name=".ui.activity.user.FixInfoActivity"/>
        <activity android:name=".ui.activity.user.MyOrderActivity"/>
        <activity android:name=".ui.activity.user.QueryTDInfoActivity"/>
        <activity android:name=".ui.activity.user.QueryTDPayActivity"/>
        <activity android:name=".ui.activity.user.QueryTDPaySuccessActivity"/>
        <activity android:name=".ui.activity.WebActivity"/>
        <activity android:name=".ui.activity.PreImageActivity"/>
        <activity android:name=".ui.activity.user.TDReportWebActivity"/>
        <activity android:name=".ui.activity.user.QueryTDExistActivity"/>
        <activity android:name=".ui.activity.user.TdHisActivity"/>
        <activity android:name=".ui.activity.user.ShowTdReportActivity"/>


        <activity android:name=".ui.activity.user.ChooseIdentityActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.activity.sales.SalesMainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.activity.sales.SalesLoginActivity"
            android:launchMode="singleTask"
            />
        <!-- android:windowSoftInputMode="stateHidden|adjustPan" -->
        <activity android:name=".ui.activity.sales.SalesFixInfoActivity"/>
        <activity android:name=".ui.activity.sales.SalesSettingActivity"/>
        <activity android:name=".ui.activity.sales.SalesFixPswActivity"/>
        <activity android:name=".ui.activity.sales.SalesWorkActivity"/>
        <activity android:name=".ui.activity.sales.SalesCustomerActivity"/>
        <activity android:name=".ui.activity.sales.SalesSigningActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.activity.sales.SalesChooseContractActivity"/>
        <activity android:name=".ui.activity.sales.SalesOrderInfoActivity"/>
        <activity android:name=".ui.activity.sales.SalesChooseCarActivity"/>
        <activity android:name=".ui.activity.sales.SalesSigningUploadContractActivity"/>


        <!-- 微信支付   微信开放平台申请的id wxac781390a3adb385-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxac781390a3adb385"/>
            </intent-filter>
        </activity>
        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- 搭配autolayout使用,屏幕适配 -->
        <meta-data android:name="design_width" android:value="1080">
        </meta-data>
        <meta-data android:name="design_height" android:value="1920">
        </meta-data>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>